@import "variables";

nav {
    width: 90vw;
    @include flexbox(row);
    padding: 10px;

    .nav-links {
        position: absolute;
        height: 100vh;
        width: 50%;
        z-index: 1;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        transform: translateX(100%);
        pointer-events: none;
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.5s ease;
        background-color: black;

        &.nav-active {
            pointer-events: all;
            transform: translateX(0);
            opacity: 1;
        }
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            color: white;
            text-decoration: none;
            padding: 10px;
            display: block;
            transition: background-color 0.5s ease;
    
            &:hover {
                background-color: grey;
            }
        }
    }

    img {
        max-width: 150px;
    }

    .burger {
        margin-left: auto;
    }
}