@font-face {
    font-family: 'Cinzel Decorative';
    src: url(fonts/Cinzel_Decorative/CinzelDecorative-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url(fonts/Abhaya_Libre/AbhayaLibre-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}